body{
	background-color: #B0C2BB;
}
footer {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	position:fixed;
	bottom:0;
}

footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	font-size: 40px;
	color: black;
	position:fixed;
	bottom:0;
}

nav {
     	text-align: center;
		float:center;
	}

nav ul{
	margin:0;
	display:inline;
	padding:0 0 0 15px;
	}

nav ul li{
	background:black;
	color:white;
	display:inline-block;
	list-style:none;
	padding:5px 15px;
}
